GITLAB_API_ENDPOINT=https://gitlab.com/api/v4
GITLAB_API_PRIVATE_TOKEN=
GITLAB_USERNAME=
GITLAB_GROUP_ID=

# This one is optional and can be used to set any HTTParty option you may need
# using YAML hash syntax. For example, this is how you would disable SSL
# verification (useful if using a self-signed cert).
# GITLAB_API_HTTPARTY_OPTIONS="{verify: false}"
